h1,
label {
  color: #fff4ec;
}
h2,
p {
  color: #0a3641;
}
/* ul, */
p {
  margin: 0%;
  padding: 0%;
}
h1 {
  margin-bottom: 0%;
}
h1,
h2 {
  font-family: "Hiragino Mincho", Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
label {
  font-family: "Roboto", sans-serif;
  text-align: start;
}
h2 {
  font-size: 20px;
  margin: 0%;
}
