@media screen and (min-width: 450px) {
  /* index page */

  /* about us page */

  /* contact us page */

  /* products page - shop */

  /* product 1 page - winter deluxe */
  .product_image_small {
    height: 100px;
    /* width: 25vw; */
  }

  /* cart page */

  /* checkout page */

  /* checkout success page */
}
@media screen and (min-width: 600px) {
  /* global */

  /* header items */
  .header :nth-child(1) {
    order: 1;
  }
  .header :nth-child(2) {
    order: 2;
  }
  .header :nth-child(3) {
    order: 3;
  }
  .header :nth-child(4) {
    order: 4;
  }
  .header :nth-child(5) {
    order: 5;
  }
  /* header -nav */

  header {
    background-color: #fff4ec;
    padding-top: 2px;
  }

  .menu_icons i {
    color: #0a3641;
  }
  .header_middle {
    background-color: #0a3641;
    margin-top: 2px;
  }
  .campaign h1,
  .breadcrumb_text,
  .breadcrumb_text a {
    color: #fff4ec;
  }

  /* navigation */
  nav {
    text-align: center;
    position: relative;
    top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  .header_bottom {
    flex-basis: 100vw;
  }

  nav li {
    display: inline;
    padding: 7px 40px;
    border-radius: 2px;
  }
  nav li a {
    border-bottom: none;
  }
  .current a {
    border-bottom: none;
  }
  .menu {
    display: block;
  }

  .header_bottom_nav label {
    display: none;
  }
  .header_top {
    display: inline-block;
    max-width: 8vw;
  }

  /* footer */

  .footer {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    padding: 10px 0px;
  }
  .footer :nth-child(1) {
    order: 1;
  }
  .footer :nth-child(2) {
    order: 3;
  }
  .footer :nth-child(3) {
    order: 2;
  }

  .footer_middle {
    flex-basis: 50%;
  }

  /* index page */
  .logo_image {
    width: 100%;
  }
  .greeting_image {
    background-image: url("/images/HomeWOlogoDT.jpg");
    min-height: 80vh;
  }

  .greeting_text h2 {
    display: none;
  }

  .greeting_cta_button {
    position: relative;
    bottom: 125px;
  }
  .greeting_cta {
    max-height: 1px;
    padding: 0%;
  }

  /* about us page */

  /* contact us page */
  .contact_main_form label {
    display: contents;
    font-size: 20px;
  }
  /* products page - shop */

  /* product 1 page - winter deluxe */
  .main_form_selectors label {
    display: contents;
    font-size: 30px;
  }
  .product_image_small {
    height: 150px;
    /* width: 25vw; */
  }
  /* cart page */
  .cart_main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  /* checkout page */

  /* checkout success page */
}

@media screen and (min-width: 900px) {
  /* global */
  .page_title {
    font-size: 40px;
  }
  /* navigation   */
  nav li {
    padding: 7px 80px;
  }
  nav li a {
    font-size: 20;
  }
  /* Header */
  .header_top {
    max-width: 9vw;
  }
  .breadcrumb ul {
    padding-left: 100px;
  }
  .breadcrumb_text,
  .breadcrumb_text a {
    font-size: 20px;
  }
  .menu_icons ul {
    gap: 2vw;
  }
  /* footer */
  .directory a {
    font-size: 15px;
    color: #0a3641;
  }
  .directory li {
    padding: 10px 0px;
  }
  .fa-brands {
    font-size: 40px;
    padding: 10px;
  }
  .copyright {
    font-size: 12px;
  }
  /* index page */

  /* about us page */
  .main_story_text {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .employee_image {
    height: 500px;
  }

  .employee_bio {
    max-width: 300px;
  }
  /* contact us page */

  .contact_main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  .contact_main_header {
    flex-basis: 100%;
  }
  .contact_main_info {
    border-radius: 20px;
  }

  /* products page - shop */
  .product_image {
    height: 500px;
  }
  .product_name h2 {
    font-size: 30px;
  }
  .product_price {
    font-size: 30px;
  }
  /* product 1 page - winter deluxe */
  .product_image {
    max-width: 300px;
    padding-right: 20px;
  }
  .product1_img_container {
    /* max-width: 300px; */
    justify-content: space-around;
  }
  .product_image_small {
    max-width: 100px;
    /* width: 25vw; */
  }
  .product1_details {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .main_section1 {
    max-width: 500px;
  }
  .main_section2 {
    max-width: 500px;
    padding-top: 70px;
  }
  .main_form_selectors {
    font-size: 10px;
    max-width: 400px;
  }

  .product1_details h2,
  .product1_details h3 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 0.5;
    margin-bottom: 0%;
  }
  .main_form p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }
  .main_description p {
    font-size: 15px;
  }
  .product_price {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .product_name {
    font-family: "Hiragino Mincho", Georgia, "Times New Roman", Times, serif;
    margin-bottom: 0%;
  }
  .main_form_selectors label {
    font-size: 20px;
  }

  .main_description,
  .main_form {
    padding-left: 70px;
  }

  .button_submit {
    justify-content: center;
    align-self: center;
    margin: 20px 60px;
  }

  /* cart page */

  /* checkout page */

  /* checkout success page */
}

@media screen and (min-width: 1500px) {
  /* navigation   */
  nav li {
    padding: 22px 80px 10px;
  }
  nav li a {
    font-size: 35px;
  }
  /* Header */
  .header_top {
    max-width: 9vw;
  }

  .menu_icons ul {
    gap: 2vw;
  }
  /* footer */
  .directory a {
    font-size: 15px;
    color: #0a3641;
  }
  .directory li {
    padding: 10px 0px;
  }
  .fa-brands {
    font-size: 40px;
    padding: 10px;
  }
  .copyright {
    font-size: 12px;
  }
  /* index page */

  /* about us page */
  .employee_image {
    height: 600px;
  }

  .employee_bio {
    max-width: 400px;
  }
  .main_story p {
    font-size: 30px;
  }
  .main h1,
  .main h2 {
    font-family: "Hiragino Mincho", Georgia, "Times New Roman", Times, serif;
    font-size: 45px;
  }
  /* contact us page */
  .contact_main h1 {
    font-size: 70px;
  }
  .contact_main h2 {
    font-size: 50px;
  }
  .contact_main p,
  .contact_main label {
    font-size: 20px;
  }

  /* products page - shop */
  .product_image {
    width: 800px;
    padding: 10px 20px;
  }
  .products_list_container {
    row-gap: 100px;
  }
  /* product 1 page - winter deluxe */

  /* cart page */

  /* checkout page */

  /* checkout success page */
}
