@media screen and (min-width: 600px) {
  /* global */
  /* header items */
  .header :nth-child(1) {
    order: 1;
  }
  .header :nth-child(2) {
    order: 2;
  }
  .header :nth-child(3) {
    order: 3;
  }
  .header :nth-child(4) {
    order: 4;
  }
  .header :nth-child(5) {
    order: 5;
  }
  /* header -nav */

  header {
    background-color: #fff4ec;
    padding-top: 2px;
  }

  .menu_icons i {
    color: #0a3641;
  }
  .header_middle {
    background-color: #0a3641;
    margin-top: 2px;
  }
  .campaign h1 {
    color: #fff4ec;
  }

  /* navigation */
  nav {
    text-align: center;
    position: relative;
    top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  .header_bottom {
    flex-basis: 100vw;
  }

  nav li {
    display: inline;
    padding: 7px 40px;
    border-radius: 2px;
  }
  nav li a {
    border-bottom: none;
  }
  .current a {
    border-bottom: none;
  }
  .menu {
    display: block;
  }

  label {
    display: none;
  }
  .header_top {
    display: inline-block;
    max-width: 8vw;
  }

  /* footer */

  .footer {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    padding: 10px 0px;
  }
  .footer :nth-child(1) {
    order: 1;
  }
  .footer :nth-child(2) {
    order: 3;
  }
  .footer :nth-child(3) {
    order: 2;
  }

  .footer_middle {
    flex-basis: 50%;
  }

  /* index page */
  .logo_image {
    width: 100%;
  }
  .greeting_image {
    background-image: url("/images/HomeWOlogoDT.jpg");
    min-height: 80vh;
  }

  .greeting_text h2 {
    display: none;
  }

  .greeting_cta_button {
    position: relative;
    bottom: 125px;
  }
  .greeting_cta {
    max-height: 1px;
    padding: 0%;
  }

  /* about us page */

  /* contact us page */

  /* products page - shop */

  /* product 1 page - winter deluxe */

  /* cart page */

  /* checkout page */

  /* checkout success page */
}

@media screen and (min-width: 900px) {
  nav li {
    padding: 7px 80px;
  }
  nav li a {
    font-size: 20;
  }

  .header_top {
    max-width: 9vw;
  }

  .menu_icons ul {
    gap: 2vw;
  }
  .directory a {
    font-size: 15px;
    color: #0a3641;
  }
  .directory li {
    padding: 10px 0px;
  }
  .fa-brands {
    font-size: 40px;
    padding: 10px;
  }
  .copyright {
    font-size: 12px;
  }
}
