/* global */
:root {
  margin: 0%;
  padding: 0%;
}
@font-face {
  font-family: "Hiragino Mincho";
  src: url("../fonts/Hiragino_Mincho_ProN_W3.otf") format("opentype");
}
a,
p,
ul {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}
li {
  display: inline-block;
}
header,
body,
footer,
div {
  margin: 0;
}
header {
  grid-area: header;
  background-color: #0a3641;
  padding-top: 10px;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* global header */

.campaign h1,
h2 {
  font-family: "Hiragino Mincho", Georgia, "Times New Roman", Times, serif;
}
.header_top {
  display: none;
}

/* header items */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 100px;
}
.header :nth-child(1) {
  order: 1;
}
.header :nth-child(2) {
  order: 3;
}
.header :nth-child(3) {
  order: 4;
}
.header :nth-child(4) {
  order: 5;
}
.header :nth-child(5) {
  order: 2;
}

/* navigation (hamburger menu) */
nav {
  display: none;
  position: absolute;
  top: 71px;
  background: #fff4ec;
  z-index: 1000;
  left: 0px;
}
.menu {
  display: none;
}
.menu ul {
  padding: 0%;
  margin: 0%;
}

nav li {
  display: block;
  padding: 20px 30px;
}
nav li a {
  color: #0a3641;
  border-bottom: hidden;
  width: auto;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}
label i {
  font-size: 40px;
  color: #fff4ec;
  margin-left: 15px;
}
.current {
  background-color: #0a3641;
}
.current a {
  color: #fff4ec;
  border-bottom: 1px solid #fff4ec;
}
/* search bar */
.search {
  background-color: #fff;
  border: 2px solid #40240a;
  color: #0a3641;
  padding: 5px 20px;
  text-align: center;
  display: inline-flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  margin: 0%;
  max-width: 20vw;
  min-width: 10vw;
  font-family: "Roboto", sans-serif;
}

/* menu icons  */
.menu_icons ul {
  display: flex;
  padding: 0%;
  margin: 10px 0px;
  justify-content: space-around;
  gap: 4vw;
}
.menu_icons i {
  color: #fff4ec;
  font-size: 30px;
}

/* campaign tagline */
.header_middle {
  margin: 0px;
  margin-top: 10px;
  padding: 0%;
  flex-basis: 100%;
  background-color: #fff4ec;
}
.campaign h1 {
  margin: 1%;
  font-size: 15px;
  text-align: center;
  color: #0a3641;
}
/* global footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff4ec;
}

/* dirctory links */
.directory ul {
  margin: 0;
  padding-left: 0%;
}
.directory li {
  display: block;
  padding: 0px 0px;
}
.directory a {
  font-size: 10px;
  color: #0a3641;
}

/* social links */
.fa-brands {
  font-size: 30px;
  padding: 5px;
  margin: 0 0;
  color: black;
}

.socials ul {
  padding: 0%;
  margin: auto;
}

/* copyright line */
.footer_middle {
  flex-basis: 100%;
}
.copyright {
  grid-area: copyright;
  background-color: none;
  color: #0a3641;
  font-size: 8px;
  font-weight: 8000;
  text-align: center;
  margin-top: 0%;
  padding: 20px 5px 10px 5px;
}
